.product-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://thumbs.dreamstime.com/b/seamless-furniture-background-vector-illustration-pattern-outlines-70898381.jpg);
  }
  


    .product-detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: rgb(110, 64, 3);
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      margin: 10px;
      width: 300px;
      gap: 25px;

    }
    
    .product-detail h2 {
      font-size: 24px;
      margin-top: 0;
      color: rgb(255, 255, 255);
    }
    
    .product-detail img {
      max-width: 100%;
      margin-bottom: 10px;
     
    }
    
    .product-detail p {
      margin: 0;
      font-size: 16px;
      color: rgb(255, 255, 255) ;
    }
  
    .button-detail {
      background-color: #4CAF50; /* Fondo del botón */
      border: none; /* Sin borde */
      color: white; /* Color del texto */
      padding: 12px 24px; /* Padding para espaciar el texto del borde */
      text-align: center; /* Centrar el texto */
      text-decoration: none; /* Sin subrayado */
      display: inline-block; /* Mostrar como un elemento de línea */
      font-size: 16px; /* Tamaño del texto */
      border-radius: 8px; /* Radio de borde para hacerlo redondeado */
      cursor: pointer; /* Cambiar el cursor al pasar por encima */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Agregar una sombra */
      transition: all 0.3s ease-in-out; /* Transición suave */
    }
    
    .button-detail:hover {
      background-color: #3e8e41; /* Cambiar el fondo al pasar el mouse */
    }
    